<!DOCTYPE HTML>
<html>
<head>
    <title>Blog EMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p>Get your greeting <a href="/greeting">here</a></p>
<!-- Cabecera -->
<header>

    <h1>Este es mi Blog </h1>
</header>
<!-- Contenido -->
<section>
    <b>Libros</b>

    <p>Juego de Tronos</p>
    <p>Asesinato en el Orient Express</p>
    <p>El Resplandor</p>
    <p>1984</p>

    <p>Harry Poter</p>
    <p>El Señor de los Anillos</p>
    <p>Los Juegos del Hambre</p>

</section>
<section>
    <b>Películas</b>
    <p>Kill Bill</p>
    <p>Karate Kid</p>
    <p>Titanic</p>
    <p>Rocky</p>
</section>
<!-- Pie de pagina -->
<footer>
    (c) Evolución y Mantenimiento Software
</footer>
</body>
</html>